html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    line-height: 1.15;
    font-size: 12px;
}

h1 {
    font-size: 20px;
    margin: 0.8em 0;
    padding: 0;
    line-height: 1.5;
}

h2 {
    font-size: 20px;
    margin: 0.7em 0;
}

h3 {
    font-size: 12px;
    margin: 0.5em 0;
    padding: 0;
    line-height: 1.6em;
}

* {
    box-sizing: border-box;
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}
  
button,
input {
    overflow: visible;
}
  
button,
select {
    text-transform: none;
}

input[type=text], input[type=number] {
    border-radius: 4px;
    border: 1px solid#a6a6a6;
    display: block;
    padding: 0 10px;
    width: 100%;
    line-height: $inputLineHeightMobile;
    @media (min-width: $breakpointsm) {
        line-height: $inputLineHeightDesktop;
    }
    &:focus {
        border: 1px solid #3e3d3f;
        outline: medium none;
        box-shadow: 0 0 4px 0 rgba(62, 61, 63, 0.62);
    }
    &::-webkit-inner-spin-button, 
    &::-webkit-outer-spin-button { 
        -webkit-appearance: none; 
        margin: 0; 
    }
}