@import 'mixins.scss';
@import 'variables.scss';
@import 'global.scss';

@include font-face('HelveticaNeue', '../fonts/HelveticaNeue');
@include font-face('HelveticaNeue-Light', '../fonts/HelveticaNeue-Light');
@include font-face('HelveticaNeue-Bold', '../fonts/HelveticaNeue-Bold');
@include font-face('SFUIDisplay-Regular', '../fonts/SFUIDisplay-Regular');
@include font-face('SFUIDisplay-Bold', '../fonts/SFUIDisplay-Bold');

html {
    font-family: 'HelveticaNeue';
    color: $bodyColor;
}

body {
    @media (min-width: $breakpointsm) {
        font-size: 14px;
    }
}

h1 {
    font-family: 'HelveticaNeue-Light';
    font-weight: normal;
    line-height: 2.1em;
    color: $h1TitleColor;
    border-bottom: $titleUnderline;
    margin: 20px 0 20px 20px;
    @media (min-width: $breakpointsm) {
        font-size: 22px;
        line-height: 2.5em;
        margin: 10px 30px 24px;
    }
}

h2 {
    font-weight: normal;
    @media (min-width: $breakpointsm) {
        font-size: 22px;
        margin: 0.5em 0 1em;
    }
}

h3 {
    font-size: 12px;
    color: $h3TitleColor;
    border-bottom: $titleUnderline;
    font-weight: normal;
    padding-bottom: 8px;
    margin: 0 0 15px;
    @media (min-width: $breakpointsm) {
        font-size: 16px;
        margin-bottom: 35px;
    }
}

label {
    font-family: 'HelveticaNeue-Bold';
    display: block;
    line-height: 1.5em;
    @media (min-width: $breakpointsm) {
        line-height: 1em;
    }
}

input[type=text], input[type=number] {
    padding: 0 15px;
    font-size: 14px;
    @media (min-width: $breakpointsm) {
        font-size: 16px;
    }
    &.error {
        border-color: $errorColor;
        & + .errormessage {
            display: block;
        }
    }
}

.container {
    padding: 0 10px;
    @media (min-width: $breakpointsm) {
        display: flex;
        max-width: 750px;
        margin: auto;
        padding: 0;
        align-items: center;
    }
}

.calculator {
    margin: 0;
    border-radius: 4px;
    box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.1);
    padding: 15px 20px 20px;
    position: relative;
    z-index: 30;
    background-color: white;
    @media (min-width: $breakpointsm) {
        flex-basis: 470px;
        padding: 35px 40px 40px;
    }
}

.rate {
    margin-bottom: 10px;
    @media (min-width: $breakpointsm) {
        margin-bottom: 18px;
    }
}

.controls {
    display: flex;
    font-size: 14px;
    @media (min-width: $breakpointsm) {
        font-size: 16px;
    }
    .controls__input {
        width: 50px;
        text-align: center;
        margin-left: 14px;
        &[disabled] {
            background-color: white;
        }
    }
}

.controls__range {
    flex-grow: 1;
    display: flex;
    span[class*=controls__range__label] {
        width: $controlsLabelWidth;
        line-height: $inputLineHeightMobile;
        @media (min-width: $breakpointsm) {
            line-height: $inputLineHeightDesktop;
        }
        &.controls__range__label--max {
            text-align: right;
        }
    }
}

.controls__range__container {
    width: 100%;
    position: relative;
    margin: 7px 0;
    @media (min-width: $breakpointsm) {
        margin: 10px 0;
    }
}

.controls__range__background {
    position: absolute;
    background-color: $rangeBackgroundLeft;
    height: 8px;
    right: 0;
    left: 0;
    top: 9px;
    border-radius: 4px;
    z-index: 1;
}

section.loan, section.annual {
    margin: 16px 0 10px;
    @media (min-width: $breakpointsm) {
        margin: 16px 0 22px;
    }
    label {
        margin-bottom: 5px;
    }
}

section.annual {
    display: flex;
    .annual__tax {
        flex-grow: 1;
        margin-right: 10px;
        &:last-child {
            margin: 0 0 0 10px;
        }
    }
}

.currencysign {
    position: relative;
    &:before {
        content: '$';
        position: absolute;
        left: 16px;
        z-index: 20;
        line-height: $inputLineHeightMobile + 3px;
        @media (min-width: $breakpointsm) {
            font-size: 18px;
            line-height: $inputLineHeightDesktop + 3px;
        }
        font-size: 14px;
    }
    input[type=text], input[type=number] {
        padding-left: 26px;
        @media (min-width: $breakpointsm) {
            padding-left: 30px;
        }
    }
}

button.btn {
    display: block;
    color: white;
    background-color: $btnBgColor;
    text-align: center;
    line-height: 40px;
    border: medium none;
    width: 100%;
    text-transform: uppercase;
    border-radius: 4px;
    font-family: 'HelveticaNeue-Bold';
    cursor: pointer;
    font-size: 14px;
    @media (min-width: $breakpointsm) {
        font-size: 16px;
    }
}
  
input[type=range] {
    position: relative;
    height: 26px;
    -webkit-appearance: none;
    margin: 0;
    width: 100%;
    z-index: 2;
    background-color: transparent;
    &:focus {
        outline: none;
    }
    &::-webkit-slider-runnable-track {
        width: 100%;
        height: 8px;
        cursor: pointer;
        animate: 0.2s;
        box-shadow: 0px 0px 0px #000000;
        background: transparent;
        border-radius: 4px;
        border: 0px solid #010101;
    }
    &::-webkit-slider-thumb {
        box-shadow: 1px 1px 2px #000031;
        z-index: 4;
        height: 24px;
        width: 24px;
        border-radius: 12px;
        background: #FFFFFF;
        cursor: pointer;
        -webkit-appearance: none;
        margin-top: -8px;
    }
    &:focus::-webkit-slider-runnable-track {
        background: transparent;
    }
    &::-moz-range-track {
        width: 100%;
        height: 8px;
        cursor: pointer;
        animate: 0.2s;
        box-shadow: 0px 0px 0px #000000;
        background: transparent;
        border-radius: 4px;
        border: 0px solid #010101;
    }
    &::-moz-range-thumb {
        box-shadow: 1px 1px 2px #000031;
        z-index: 4;
        height: 24px;
        width: 24px;
        border-radius: 12px;
        background: #FFFFFF;
        cursor: pointer;
    }
    &::-ms-track {
        width: 100%;
        height: 8px;
        cursor: pointer;
        animate: 0.2s;
        background: transparent;
        border-color: transparent;
        color: transparent;
    }
    &::-ms-fill-lower {
        background: transparent;
        border: 0px solid #010101;
        border-radius: 8px;
        box-shadow: 0px 0px 0px #000000;
    }
    &::-ms-fill-upper {
        background: transparent;
        border: 0px solid #010101;
        border-radius: 8px;
        box-shadow: 0px 0px 0px #000000;
    }
    &::-ms-thumb {
        margin-top: 1px;
        box-shadow: 1px 1px 2px #000031;
        z-index: 4;
        height: 24px;
        width: 24px;
        border-radius: 12px;
        background: #FFFFFF;
        cursor: pointer;
    }
    &:focus::-ms-fill-lower {
        background: transparent;
    }
    &:focus::-ms-fill-upper {
        background: transparent;
    }
}

.errormessage {
    color: $errorColor;
    font-family: 'HelveticaNeue-Bold';
    font-size: 10px;
    display: none;
    @media (min-width: $breakpointsm) {
        font-size: 12px;
    }
}

 
// Results table

.results {
    background-color: $resultsBackground;
    margin-top: -10px;
    padding: 20px;
    @media (min-width: $breakpointsm) {
        margin-top: 0;
        flex-grow: 1;
        padding: 30px 40px 22px;
    }
    dl {
        justify-content: space-between;
        border-bottom: $resultsSeparator;
        line-height: 16px;
        padding: 15px 0;
        margin: 0;
        display: flex;
        @media (min-width: $breakpointsm) {
            display: block;
            border-bottom: medium none;
            line-height: 1.7em;
        }
        &.total {
            padding: 20px 0 5px;
            border-bottom: medium none;
            @media (min-width: $breakpointsm) {
                border-top: $resultsSeparator;
                padding-top: 25px;
                margin-top: 10px;
                dt {
                    font-size: 18px;
                }
            }
            dd {
                font-size: 18px;
                @media (min-width: $breakpointsm) {
                    font-size: 22px;
                    line-height: 1.8em;
                }
            }
        }
    }
    dt {
        font-family: 'SFUIDisplay-Regular';
        font-size: 12px;
        @media (min-width: $breakpointsm) {
            font-size: 14px;
        }
    }
    dd {
        font-family: 'SFUIDisplay-Bold';
        margin: 0;
        font-size: 14px;
        @media (min-width: $breakpointsm) {
            font-size: 18px;
        }
    }
}


// $track-w: 12.5em;
// $track-h: .25em;
// $thumb-d: 1.5em;
// $track-c: #ccc;
// $filll-c: #95a;

// @mixin track($fill: 0) {
//     box-sizing: border-box;
//     border: none;
//     width: $track-w; height: $track-h;
//     background: $track-c;
    
//     @if $fill == 1 {
//         .js & {
//             background: linear-gradient($filll-c, $filll-c)
//                 0/ var(--sx) 100% no-repeat $track-c
//         }
//     }
// }

// @mixin fill() {
//     height: $track-h;
//     background: $filll-c
// }

// @mixin thumb() {
//     box-sizing: border-box;
//     border: none;
//     width: $thumb-d; height: $thumb-d;
//     border-radius: 50%;
//     background: #f90;
// }

// [type='range'] {
//     overflow: hidden;
//     &, &::-webkit-slider-thumb {
//         -webkit-appearance: none;
//     }
    
//     --range: calc(var(--max) - var(--min));
//     --ratio: calc((var(--val) - var(--min))/var(--range));
//     --sx: calc(.5*#{$thumb-d} + var(--ratio)*(100% - #{$thumb-d}));
//     margin: 0;
//     padding: 0;
//     width: $track-w; height: $thumb-d;
//     background: transparent;
//     font: 1em/1 arial, sans-serif;
    
//     &::-webkit-slider-runnable-track {
//         @include track(1)
//     }
//     &::-moz-range-track { @include track }
//     &::-ms-track { @include track }
    
//     &::-moz-range-progress { @include fill }
//     &::-ms-fill-lower { @include fill }
    
//     &::-webkit-slider-thumb {
//         margin-top: .5*($track-h - $thumb-d);
//         box-shadow: -80px 0 0 80px #43e5f7;
//         @include thumb
//     }
//     &::-moz-range-thumb { @include thumb }
//     &::-ms-thumb {
//         margin-top: 0;
//         @include thumb
//     }
    
//     &::-ms-tooltip { display: none }
// }